
body {
    margin: 0;
    padding: 0;
    font-family: "Mona Sans", serif;
    overflow: auto;
    background: linear-gradient(to top, rgb(0, 7, 13), rgb(5, 22, 33));
    display: flex;
    flex-direction: column;
    height: 100%;
}
body::-webkit-scrollbar {
    display: none;
}


.header-msg {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    color: white;
    padding: 30px;
}


.header-msg h1 {
    font-weight: 600;
    font-size: 2.5em;
    margin-bottom: 0px;
}
.header-msg p {
    font-size: 1em;
    color: grey;
}
.Dummies {
    position: relative;
}
.Dummies::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    animation: landingHL 1s ease forwards;
    animation-delay: .5s;
    border-bottom: 2px solid white;
    z-index: -1;
}




.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px;
    gap: 25px;
}
.anatomy-container {
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    height: fit-content;
    transition: .5s;
}
/* .btn-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
}
.btn-container button {
    background: rgba(255, 255, 255, 0.15);
    border: none;
    border-radius: 5px;
}
.btn-container button img {
    width: 25px;
    height: 25px;
    filter: invert(.8)
} */

#Male-Overlay {
    height: 500px;
    filter: invert(1);
    z-index: 0;
}
#Male-Click {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    filter: invert(1);
    z-index: 1;
}

.target-muscle:hover {
    fill: red;
    cursor:pointer;
}
.target-muscle.selected {
    fill: red;
    filter: drop-shadow(20px 20px 50px rgba(255, 0, 0, 0.5))

}



/* INFO SECTION */




.info-container {
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 505px;
    width: 500px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-header {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 7px;
    align-self: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.02);
    width: 100%;
}
.info-header label {
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: 500;
}
.level-selection {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    outline: none;
    display: flex;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 2.5px;
    width: fit-content;
    margin-top: 2px;
    font-family: "Mona Sans"
}
.info-title {
    font-weight: 500;
    font-size: 1.25em;
    margin: 0;
}

/* Card */
.exc-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    overflow-y: scroll;
    gap: 10px;
    position: relative;
    height: 100%;
    padding: 10px;
    margin: 0;
    position: relative;
    box-sizing: border-box;
}
.exc-list::-webkit-scrollbar {
    display: none;
}
.exc-card {
    background: rgba(255, 255, 255, 0.03);
    padding: 20px;
    border-radius: 5px;
    width: 430px;
}
.card-body {
    height: 0;
    overflow: hidden;
    transition: .4s ease-in-out;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.card-title {
    font-size: 1em;
    font-weight: 500;
    margin: 0px;
}
.exc-card:not(.expand):hover {
    background: rgba(255, 255, 255, 0.07);
    transition: .1s;
}
.expand-toggle {
    background: none;
    height: 40px;
    width: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    position: relative;
    border: none;
    filter: invert(.5);
    transition: .2s ease;
}
.expand .expand-toggle {
    rotate: -90deg;
}
.expand-toggle:hover {
    color: white;
    filter: invert(1);
}



.card-summary {
    font-weight:500;
    font-size: .9em;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 15px;
    margin-bottom: 10px;
}
.card-instructions {
    color: rgba(255, 255, 255, 0.5);
    font-size: .85em;
    font-weight: 300;
    margin-top: 0;
  
}
.img-container {
    display: flex;
    justify-content: space-evenly;
}
.demo {
    width: 150px;
    border-radius: 5px;
}
.label-span {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
}
.card-pLabel, .card-sLabel {
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    margin-top: 5px;
    font-size: .85em;
}
.card-pLabel {
    margin-top: 20px;
}
.loading {
    animation: loading 1.5s infinite ease-in-out;
    width: 440px;
}
.loading  * {
    display: none;
}


.load-more-btn {
    position: absolute;
    bottom: 20px;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
.no-result-message {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}
footer {
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: last baseline;   
}
footer img {
    height: 20px;
    filter: invert(1) opacity(.5)
}
footer a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    font-size: .8em;
}
footer a:hover {
    color: white;
    cursor: pointer;
}
footer a:hover img {
    filter: invert(1) opacity(1)
}


@keyframes landingHL {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}


@keyframes loading {
   
    50% {
        background: rgba(255, 255, 255, 0.012)
    }
}





